region             = "${AWS_REGION}"
registry_name      = "${PREFIX}-registry"
env                = "${STAGE}"
project_name       = "${PREFIX}"
service_port       = 8080
vpc_id = "${VPC_ID}"
permissions_boundary_policy_name = ${PERMISSIONS_BOUNDARY_POLICY_NAME:-null}
